
{{# properties}}{{# requires}}
{{#basicType}}#import "{{requires}}"{{/}}
{{/ requires}}{{/ properties}}
{{# relationships}}{{# requires}}
{{#basicType}}#import "{{requires}}"{{/}}
{{/ requires}}{{/ relationships}}


{{# properties}}{{# requires}}
{{^basicType}}@class {{type}};{{/}}
{{/ requires}}{{/ properties}}
{{# relationships}}{{# requires}}
{{^basicType}}@class {{type}};{{/}}
{{/ requires}}{{/ relationships}}
