{{! import anything needed by the properties }}
{{# properties}}{{# requires}}#import "{{import}}"{{/ requires}}{{/ properties}}

{{! import anything needed by the relationships }}
{{# relationships}}{{# requires}}#import "{{import}}"{{/ requires}}{{/ relationships}}
