
{{# attributes}}{{# requires}}
{{#basicType}}#import "{{requires}}"{{/}}
{{/ requires}}{{/ attributes}}
{{# relationships}}{{# requires}}
{{#basicType}}#import "{{requires}}"{{/}}
{{/ requires}}{{/ relationships}}


{{# attributes}}{{# requires}}
{{^basicType}}@class {{type}};{{/}}
{{/ requires}}{{/ attributes}}
{{# relationships}}{{# requires}}
{{^basicType}}@class {{type}};{{/}}
{{/ requires}}{{/ relationships}}
