{{! import anything needed by the properties }}
¶
{{# properties}}
{{# requires}}
#import "{{import}}"
{{/}}
{{/}}

{{! import anything needed by the relationships }}
{{# relationships}}
{{# requires}}
#import "{{import}}"
{{/}}
{{/}}
