{{! import anything needed by the properties }}
¶
{{# attributes}}
{{# requires}}
#import "{{.}}"
{{/}}
{{/}}

{{! import anything needed by the relationships }}
{{# relationships}}
{{# requires}}
#import "{{.}}"
{{/}}
{{/}}
