{{#description}}
¶
¶
/**
 {{description}}
 */
{{/}}

¶
@property ({{#metaInfo.mode}}{{.}}{{/metaInfo.mode}}{{^metaInfo.mode}}strong{{/metaInfo.mode}}, nonatomic) {{type}}{{^typeInfo.basicType}}*{{/typeInfo.basicType}} {{name}};
