[submodule "Modules/ECCore"]
	path = Modules/ECCore
	url = git@github.com:BohemianCoding/ECCore.git
[submodule "Modules/ECLogging"]
	path = Modules/ECLogging
	url = git@github.com:BohemianCoding/ECLogging.git
[submodule "Modules/ECCommandLine"]
	path = Modules/ECCommandLine
	url = git@github.com:BohemianCoding/ECCommandLine.git
