[submodule "Modules/GRMustache"]
	path = Modules/GRMustache
	url = git://github.com/groue/GRMustache.git
[submodule "Modules/ECCore"]
	path = Modules/ECCore
	url = git@github.com:elegantchaos/ECCore.git
[submodule "Modules/ECLogging"]
	path = Modules/ECLogging
	url = git@github.com:elegantchaos/ECLogging.git
