{{! are we supposed to use a custom transformer? }}
{{#typeInfo.NSEncodeTransformer}}
    [coder encodeObject:{{typeInfo.NSEncodeTransformer}}(self.{{name}}) forKey:@"{{name}}"];
{{^}}

{{! otherwise if it's a basic type, we have one variant of the encoding }}
{{#metaInfo.basic}}
    [coder encode{{mixedcapsInitialCapital(typeInfo.NSType)}}:self.{{name}} forKey:@"{{name}}"];
{{^}}

{{! if it's an object type, we have a slightly different variant }}
    [coder encodeObject:self.{{name}} forKey:@"{{name}}"];
{{/}}{{/}}