// ----------------------------------------
// {{name}}.m
// Created by {{coma.name}} {{coma.version}}.
// This file is created by Coma if it doesn't already exist, but it's safe to
// put your own code here - Coma won't overwrite it.
// ----------------------------------------

¶
#import "{{name}}.h"

¶
@interface {{name}}()
¶
// Private interface goes here.
¶
@end

¶
@implementation {{name}}
¶
// Custom logic goes here.
¶
@end