- (void)set{{capitalized(name)}}:({{type}})value {
    if (self.{{name}} != value) {
        [[self.undoManager prepareWithInvocationTarget:self]
                set{{capitalized(name)}}:self.{{name}}];

        [self.undoManager setActionName:@"Change {{undo}}"];
        [super set{{capitalized(name)}}:value];
    }
}
