- (void)set{{mixedcapsInitialCapital(name)}}:({{type}})value {
    if (self.{{name}} != value) {
        [[self.undoManager prepareWithInvocationTarget:self]
                set{{mixedcapsInitialCapital(name)}}:self.{{name}}];

        [self.undoManager setActionName:@"{{undo}}"];
        [super set{{mixedcapsInitialCapital(name)}}:value];
    }
}

