- (void)set{{mixedcapsInitialCapital(name)}}:({{type}})value {
    if (!NSEqual{{typeInfo.NSType}}s(self.{{name}}, value)) {
        [[self.undoManager prepareWithInvocationTarget:self]
                set{{mixedcapsInitialCapital(name)}}:self.{{name}}];

        [self.undoManager setActionName:@"Change {{undo}}"];
        [super set{{mixedcapsInitialCapital(name)}}:value];
    }
}
