<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.elegantchaos.commandlinetest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>ECfo</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>00000000-0000-0000-0000-000000000000</key>
		<string>MyFactoryFunction</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>00000000-0000-0000-0000-000000000000</key>
		<array>
			<string>00000000-0000-0000-0000-000000000000</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Elegant Chaos. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>Commands</key>
	<dict>
		<key>load</key>
		<dict>
			<key>class</key>
			<string>LoadCommand</string>
			<key>help</key>
			<string>load some stuff from somewhere</string>
			<key>options</key>
			<dict>
				<key>required</key>
				<array>
					<string>string</string>
					<string>number</string>
				</array>
				<key>optional</key>
				<array>
					<string>boolean</string>
				</array>
			</dict>
		</dict>
		<key>save</key>
		<dict>
			<key>class</key>
			<string>SaveCommand</string>
			<key>help</key>
			<string>save some stuff to somewhere</string>
			<key>options</key>
			<dict>
				<key>required</key>
				<array>
					<string>string</string>
					<string>number</string>
				</array>
				<key>optional</key>
				<array>
					<string>boolean</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Options</key>
	<dict>
		<key>string</key>
		<dict>
			<key>short</key>
			<string>s</string>
			<key>mode</key>
			<string>required</string>
			<key>help</key>
			<string>a string argument</string>
		</dict>
		<key>string2</key>
		<dict>
			<key>short</key>
			<string>t</string>
			<key>default</key>
			<string>default value</string>
			<key>mode</key>
			<string>required</string>
			<key>help</key>
			<string>another string argument with a default value</string>
		</dict>
		<key>number</key>
		<dict>
			<key>short</key>
			<string>n</string>
			<key>mode</key>
			<string>required</string>
			<key>help</key>
			<string>a number argument</string>
		</dict>
		<key>boolean</key>
		<dict>
			<key>short</key>
			<string>b</string>
			<key>mode</key>
			<string>optional</string>
			<key>help</key>
			<string>a boolean argument</string>
		</dict>
	</dict>
	<key>ECLoggingDebug</key>
	<dict>
		<key>Handlers</key>
		<dict>
			<key>ECLogHandlerFile</key>
			<dict>
				<key>Default</key>
				<true/>
			</dict>
			<key>ECLogHandlerNSLog</key>
			<dict>
				<key>Default</key>
				<true/>
			</dict>
		</dict>
		<key>Channels</key>
		<dict>
			<key>Application</key>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Level</key>
				<integer>5</integer>
			</dict>
			<key>Object</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Test</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Other</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Error</key>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Handlers</key>
				<array>
					<string>ErrorPresenter</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>ECLogging</key>
	<dict>
		<key>Handlers</key>
		<dict>
			<key>ECLogHandlerFile</key>
			<dict>
				<key>Default</key>
				<true/>
			</dict>
			<key>ECLogHandlerNSLog</key>
			<dict>
				<key>Default</key>
				<true/>
			</dict>
		</dict>
		<key>Channels</key>
		<dict>
			<key>Application</key>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Level</key>
				<integer>5</integer>
			</dict>
			<key>Object</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Test</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Other</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Error</key>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Handlers</key>
				<array>
					<string>ErrorPresenter</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
