<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.elegantchaos.commandlinetest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>ECfo</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>00000000-0000-0000-0000-000000000000</key>
		<string>MyFactoryFunction</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>00000000-0000-0000-0000-000000000000</key>
		<array>
			<string>00000000-0000-0000-0000-000000000000</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Elegant Chaos. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>Commands</key>
	<dict>
		<key>generate</key>
		<dict>
			<key>class</key>
			<string>BCComaGenerateCommand</string>
			<key>help</key>
			<string>Generate classes using a template</string>
			<key>arguments</key>
			<array>
				<dict>
					<key>description</key>
					<string>model</string>
				</dict>
				<dict>
					<key>description</key>
					<string>templates</string>
				</dict>
			</array>
			<key>options</key>
			<dict>
				<key>required</key>
				<array/>
				<key>optional</key>
				<array>
					<string>output</string>
					<string>overwriting</string>
				</array>
			</dict>
		</dict>
		<key>convert</key>
		<dict>
			<key>class</key>
			<string>BCComaConvertCommand</string>
			<key>help</key>
			<string>Convert a Core Data model.mom file into a Coma model.json file</string>
			<key>arguments</key>
			<array>
				<dict>
					<key>description</key>
					<string>model</string>
				</dict>
				<dict>
					<key>description</key>
					<string>json file to insert class definitions into</string>
				</dict>
			</array>
			<key>options</key>
			<dict>
				<key>required</key>
				<array/>
				<key>optional</key>
				<array>
					<string>output</string>
					<string>overwriting</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Options</key>
	<dict>
		<key>overwriting</key>
		<dict>
			<key>short</key>
			<string>f</string>
			<key>mode</key>
			<string>optional</string>
			<key>help</key>
			<string>set this to YES to allow coda to overwrite existing files with newly generated ones</string>
			<key>default</key>
			<false/>
		</dict>
		<key>output</key>
		<dict>
			<key>short</key>
			<string>o</string>
			<key>mode</key>
			<string>optional</string>
			<key>help</key>
			<string>where to output the generated files - defaults to the current working directory</string>
		</dict>
	</dict>
	<key>ECLoggingDebug</key>
	<dict>
		<key>Handlers</key>
		<dict>
			<key>ECLogHandlerFile</key>
			<dict>
				<key>Default</key>
				<true/>
			</dict>
			<key>ECLogHandlerNSLog</key>
			<dict>
				<key>Default</key>
				<true/>
			</dict>
		</dict>
		<key>Channels</key>
		<dict>
			<key>Application</key>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Level</key>
				<integer>5</integer>
			</dict>
			<key>Object</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Test</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Other</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Error</key>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Handlers</key>
				<array>
					<string>NSLog</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>ECLogging</key>
	<dict>
		<key>Handlers</key>
		<dict>
			<key>ECLogHandlerFile</key>
			<dict>
				<key>Default</key>
				<true/>
			</dict>
			<key>ECLogHandlerNSLog</key>
			<dict>
				<key>Default</key>
				<true/>
			</dict>
		</dict>
		<key>Channels</key>
		<dict>
			<key>Application</key>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Level</key>
				<integer>5</integer>
			</dict>
			<key>Object</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Test</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Other</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Error</key>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Handlers</key>
				<array>
					<string>ErrorPresenter</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
