

// ----------------------------------------
// Template for {{name}}.h file
// ----------------------------------------

{{# properties}}{{# requires}}@class {{type}};
{{/ requires}}{{/ properties}}

@interface {{name}} : {{super}}

{{# properties}}
{{> property}}
{{/ properties}}

@end
