// ----------------------------------------
// Template for the source file
// ----------------------------------------

#import "{{class}}.h"

@implementation {{class}}

{{# properties}}
	// {{name}} getter here
	// {{name}} setter here
{{/ properties}}

// Main template for the encode method

- (void)encodeWithCoder:(NSCoder *)coder {
	{{# properties}}
	// property {{name}} encoding here
	{{/ properties}}
}

- (id)initWithCoder:(NSCoder *)coder {
    self = [super init];
    if (self) {
		{{# properties}}
		// property {{name}} decoding here
		{{/ properties}}
	}
    return self;
}

- (id)copyWithZone:(NSZone *)zone {
        id copy = [self new];
		{{# properties}}
		// property {{name}} copying here
		{{/ properties}}

        return copy;
    }
}

@end
