
/**
 Returns a list of NSStrings with the names of the properties in it.
 */

+ (NSArray*)propertyNames;

/**
 Returns a list of NSStrings with the names of the relationship properties in it.
 */

+ (NSArray*)relationshipNames;

/**
 Returns a list of NSStrings with the names of the attribute properties in it.
 */

+ (NSArray*)attributeNames;
