
#pragma mark - Introspection


static NSArray* s{{name}}Properties = nil;
static NSArray* s{{name}}Relationships = nil;
static NSArray* s{{name}}Attributes = nil;

/**
 * Return the names of every property in this class.
 */

+ (NSArray*)propertyNames {
    if (!s{{name}}Properties) {
        s{{name}}Properties = @[{{# properties}}
                             @"{{name}}",{{/ properties}}{{# relationships}}
                             @"{{name}}",{{/ relationships}}
              ];

        if ([super respondsToSelector:@selector(propertyNames)])
            s{{name}}Properties = [s{{name}}Properties arrayByAddingObjectsFromArray:[super performSelector:@selector(propertyNames)]];
    }

    return s{{name}}Properties;
}

+ (NSArray*)relationshipNames {
    if (!s{{name}}Relationships) {
        s{{name}}Relationships = @[{{# relationships}}
                             @"{{name}}",{{/ relationships}}
              ];

        if ([super respondsToSelector:@selector(relationshipNames)])
            s{{name}}Relationships = [s{{name}}Relationships arrayByAddingObjectsFromArray:[super performSelector:@selector(relationshipNames)]];
    }

    return s{{name}}Properties;
}

+ (NSArray*)attributeNames {
    if (!s{{name}}Attributes) {
        s{{name}}Attributes = @[{{# properties}}
                             @"{{name}}",{{/ properties}}
              ];

        if ([super respondsToSelector:@selector(attributeNames)])
            s{{name}}Attributes = [s{{name}}Attributes arrayByAddingObjectsFromArray:[super performSelector:@selector(attributeNames)]];
    }

    return s{{name}}Properties;
}
