{{#description}}/**
 {{description}}
 */{{/}}

{{# toMany}}
@property ({{#mode}}{{.}}{{/mode}}{{^mode}}strong{{/mode}}, nonatomic) NSSet* {{name}};
{{^}}
@property ({{#mode}}{{.}}{{/mode}}{{^mode}}strong{{/mode}}, nonatomic) {{type}}* {{name}};
{{/}}