- (void)set{{capitalized(name)}}:({{type}})value {
    if (_{{name}} != value) {
        [self.undoManager registerUndoWithTarget:self
                                   selector:_cmd
                                     object:self.{{name}}];
        [self.undoManager setActionName:@"Change {{undo}}"];
        [super set{{capitalized(name)}}:value];
    }
}
