// ----------------------------------------
// {{name}}.h
// Created by {{coma.name}} {{coma.version}}.
// This file is created by Coma if it doesn't already exist, but it's safe to
// put your own code here - Coma won't overwrite it.
// ----------------------------------------

¶
#import "_{{name}}.h"

¶
@interface {{name}} : _{{name}}

@end
